{% extends 'base.html' %}
{% load cache %}

{% block content %}
<p>
    Click on a link below to view questions from that day
</p>

{% cache 86400 archive %}
<ul class="list-group w-50">
    {% for object in object_list %}
    <li class="list-group-item">
        <a href="{% url 'main:on_date' object.displayed|date:'Ymd' %}">{{ object.displayed|date:"Y-m-d"}}</a>
    </li>
    {% endfor %}
</ul>
{% endcache %}


{% if page_obj.paginator.num_pages > 1 %}
    {% include "main/pagination.html" %}
{% endif %}

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}