{% load main_extra %}
<nav aria-label="page navigation">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ request|add_page_num:'1'}}">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ request|add_page_num:page_obj.previous_page_number }}">previous</a>
        </li>            
        {% endif %}
        {% for page_number in page_obj.number|page_window:page_obj.paginator.num_pages  %}
        <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
            <a class="page-link" href="{{ request|add_page_num:page_number }}">
                {{ page_number }} 
                {% if page_number == page_obj.number %}
                of {{ page_obj.paginator.num_pages }}
                {% endif %}
            </a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ request|add_page_num:page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ request|add_page_num:page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>