// project specific CSS goes here

// body {
//     font-family: 'Open Sans', sans-serif;
// }

$font-family-sans-serif: 'Open Sans', sans-serif;

@media screen and (min-width: 601px) {
body {
        padding-top: 55px;
    }

  #question_tweet {
    height: 80vh; 
    overflow-y: hidden;
  }

  #questions {
    height: 100%; 
    overflow-y: auto;
  }
}    

@media screen and (max-width: 600px) {
body {
        padding-top: 100px;
    }
}    

.main {
  min-height:80vh;
}

#intro {
    font-size: larger;
}

.vote-form input[type=submit] {
  height: 14px;
  width: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  border: 0;
}

.arrow-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

// .question-text {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   vertical-align: middle;
// }

.upvoted form.upvote input[type=submit] {
  background: url("/static/images/upvote.png");
}

.upvoted form.downvote input[type=submit] {
  background: url("/static/images/downneutral.png");
}

.downvoted form.downvote input[type=submit]{
  background: url("/static/images/downvote.png");
}

.downvoted form.upvote input[type=submit]{
  background: url("/static/images/upneutral.png");
}

.neutral form.upvote input[type=submit]{
  background: url("/static/images/upneutral.png");
}

.neutral form.downvote input[type=submit] {
  background: url("/static/images/downneutral.png");
}

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
