@media screen and (min-width: 601px) {
  body {
    padding-top: 55px; }
  #question_tweet {
    height: 80vh;
    overflow-y: hidden; }
  #questions {
    height: 100%;
    overflow-y: auto; } }

@media screen and (max-width: 600px) {
  body {
    padding-top: 100px; } }

.main {
  min-height: 80vh; }

#intro {
  font-size: larger; }

.vote-form input[type=submit] {
  height: 14px;
  width: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  border: 0; }

.arrow-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.upvoted form.upvote input[type=submit] {
  background: url("/static/images/upvote.png"); }

.upvoted form.downvote input[type=submit] {
  background: url("/static/images/downneutral.png"); }

.downvoted form.downvote input[type=submit] {
  background: url("/static/images/downvote.png"); }

.downvoted form.upvote input[type=submit] {
  background: url("/static/images/upneutral.png"); }

.neutral form.upvote input[type=submit] {
  background: url("/static/images/upneutral.png"); }

.neutral form.downvote input[type=submit] {
  background: url("/static/images/downneutral.png"); }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
