@media screen and (min-width: 601px) {
  body {
    padding-top: 55px; }
  #question_tweet {
    height: 80vh;
    overflow-y: hidden; }
  #questions {
    height: 100%;
    overflow-y: auto; } }

@media screen and (max-width: 600px) {
  body {
    padding-top: 100px; } }

.main {
  min-height: 80vh; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
